@charset 'utf-8';

#header,#footer{
	background-color:#8F90EF\9 !important;
	background: -webkit-linear-gradient(left,rgba(255,152,5,1),rgba(255,152,5,0.6));
	background:-moz-linear-gradient(left,rgba(255,152,5,1),rgba(255,152,5,0.6));
	background: -ms-linear-gradient(left,rgba(255,152,5,1),rgba(255,152,5,0.6));
	background: linear-gradient(left,rgba(255,152,5,1),rgba(255,152,5,0.6));
	color: #ffffff !important;
}

/* 树形菜单 */
.ivu-menu-vertical .ivu-menu-item:hover, 
.ivu-menu-vertical .ivu-menu-submenu-title:hover,
.ivu-menu-submenu.ivu-menu-opened .ivu-menu-submenu-title{
	background-color:#C9D0F3\9;
	background: -webkit-linear-gradient(left, rgba(255, 184, 0, 0.4), rgba(255, 184, 0, 0.1)) !important;
	background: -moz-linear-gradient(left, rgba(255, 184, 0, 0.4), rgba(255, 184, 0, 0.1)) !important;
	background: -ms-linear-gradient(left, rgba(255, 184, 0, 0.4), rgba(255, 184, 0, 0.1)) !important;
	background: linear-gradient(left, rgba(255, 184, 0, 0.4), rgba(255, 184, 0, 0.1)) !important;
}
.ivu-menu-item-active.ivu-menu-item-selected{
	background-color: rgba(255, 184, 0, 0.2) !important;
    color: #3d3e04;
}

/* 表格 翻页 */
.ivu-page-item-active{background-color:rgba(255,218,70,0.9) !important;}




/* 字体图标 */
#menuList .iconfont,
#menuList .ivu-menu-submenu-title-icon{ color: #ffb800;}

/* 滚动条 */
.mCS-dark.mCSB_scrollTools .mCSB_dragger .mCSB_dragger_bar{background:#f5c64c !important;}


